* {
	box-sizing: border-box;
}

body {
	font-family: "Tahoma";
	font-size: 16px;
}

.clear {
	clear: both;
}

.all {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.top .logo {
	margin: 15px 0 0 40px;
	float: left;
}

.top .menu {
	float: right;
}

.top .menu li {
	float: left;
	padding: 80px 8px 8px 8px;
}

.top .menu li a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.top .menu .active {
	background-color: blue;
}

.top .menu li .active_a {
	color: white;
}

.middle {
	margin-top: 20px;
}

.banner {
	width: 100%;
}

.middle .logos {
	margin: 30px 0 30px 0;
}

.middle .logos .logo {
	float: left;
	width: 330px;
	height: 80px;
	margin-left: 5px;
	background-color: lightgray;
	text-align: center;
}

.middle .logos .logo:first-of-type {
	margin-left: 0;
}

h2 {
	font-weight: bold;
	font-size: 16;
	margin-bottom: 8px;
}

.middle .news-container {
	width: 330px;
	float: left;
}

.middle .news {
	margin-bottom: 14px;
}

.middle .news img {
	float: left;
	width: 80px;
}

.middle .news .text {
	margin-left: 14px;
	font-size: 14px;
	float: right;
	width: 236px;
}

.main p {
	margin-bottom: 15px;
	font-size: 13px;
}

.bottom {
	font-size: 12px;
	background-color: gray;
	color: white;
	padding: 15px 0 20px 15px;
}
