@media (max-width: 1020px) {
	.all {
		width: 768px;
	}
	.top .menu ul {
		display: none;
	}
	.top .menu .hamburger {
		display: block;
	}
	
	.middle .logos .logo {
		width: 254px;
		margin-left: 3px;
	}
}

@media (max-width: 768px) {
	.all {
		width: 600px;
	}
	
	.middle .logos .logo {
		float: none;
		width: 100%;
		margin: 0 0 10px 0;
	}
}
