body {
  height: 2000px;
}

.bir {
  width: 200px;
  height: 200px;
  background-color: red;

  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;

  font-size: 30px;
  font-weight: bold;
  color: white;
}

.iki {
  width: 200px;
  height: 200px;
  background-color: yellow;

  position: fixed;
  right: 0;
  top: 0;

  font-size: 30px;
  font-weight: bold;
}

.uc {
  width: 200px;
  height: 200px;
  background-color: green;

  position: relative;
}

.selam {
  width: 50px;
  height: 50px;
  background-color: blue;

  position: absolute;
  right: 0;
  top: 50px;
}
