* {
	box-sizing: border-box;
}

body {
	font-family: "Tahoma";
	font-size: 16px;
	background-image: url("../img/body.png");
	background-repeat: repeat-x;
}

.clear {
	clear: both;
}

.all {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

strong {
	font-weight: bold;
}

.top {
	padding: 60px 0 30px 0;
}

.top .logo {
	float: left;
}

.top .phone-lang {
	margin-top: 15px;
	float: right;
}

.phone p {
	display: inline-block;
	font-size: 12px;
}

.phone-lang ul {
	float: right;
	margin-top: 15px;
}

.phone-lang ul li {
	display: inline-block;
}

.top .menu {
	margin-top: 15px;
	border: 1px solid black;
}

.top .menu li {
	display: inline-block;
	border-left: 1px solid black;
	padding: 8px;
	font-size: 14px;
}

.top .menu li a {
	text-decoration: none;
	color: black;
}

.top .menu:first-of-type {
	border-left-width: 0;
}

.middle {
	margin-top: 15;
}

.middle .main {
	text-align: center;
	margin: 15px 0 15px 0;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}

.capability {
	display: inline-block;
	width: 300px;
	margin-right: 16px;
}

.middle-bottom .last {
	margin-right: 0;
}

.capability h2 {
	display: inline-block;
	margin: 5px 0 0 12px;
}

.capability p {
	font-size: 12px;
}
