body {
	background-color: grey;
	width: 1090px;
	margin-left: auto;
	margin-right: auto;
}

.todo-list {
	float: left;
	width: 500px;
	font-size: 2em;
	background-color: darkgrey;
	color: white;
	border: 2px solid red;
	paddding-left: 20px;
	margin: 20px 20px 20px 20px;
}

/*
.todo-list .last-of-type {
	float: right;
}
*/

h2 {
	text-align: center;
	color: red;
}


