ul{
  list-style: none;
}
ul li{
  position: relative;
  float: left;
  margin: 20px;
  background-color: red;

}
ul li span{
  position: absolute;
  top: 8px;
  left:-8px;
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  background-color: #000;
  height: 8px;
}
ul li a{
  text-decoration: none;
}
.miniBox{
  width: 100px;
  height: 100px;
  background-color: blue;
}
.clear{
  clear: both;
}
