.clear {
	clear: both;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

.all {
	width: 990px;
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
}

.top {
	margin: 50px 0 30px 0;
}

.top .menus {
	float: right;
	width: 650px;
	margin-top: 10px;
}

.top .menu {
	float: right;
	color: white;
}

.top .menu:first-of-type {
	background-color: black;
	padding: 5px 10px 5px 10px;
	
}

.top .menu:first-of-type li {
	float: left;
	margin: 0 10px 0 10px;
	list-style-type: disc;
	list-style-position: inside;
}

.top .menu:last-of-type {
	background-color: blue;
	margin-top: 1px;
	padding: 10px;
}

.top .menu:last-of-type li {
	float: left;
	margin: 0 10px 0 10px;
}

.middle img {
	border: 1px solid lightgray;
	padding: 2px;
	width: 100%;
}

.middle-bottom {
	margin-top: 40px;
}

.middle-bottom .main {
	width: 600px;
	font-size: 13px;
	color: gray;
	float: left;
}

.middle-bottom .main p {
	margin-bottom: 15px;
}

.middle-bottom .side {
	float: right;
	width: 360px;
	padding-left: 40px;
	border-left: 1px solid gray;
	font-size: 15px;
}

.middle-bottom .side h2 {
	color: blue;
}

strong {
	font-weight: bold;
}

.middle-bottom .side em {
	text-decoration: line-through;
}

.side .currency {
	float: left;
	width: 80px;
}

.side .currency ul {
	display: block;
}

.bottom {	
	margin-top: 30px 0 80px 0;
	border-top: 1px solid gray;
	padding: 15px 0 80px 0;
}
