* {
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.menu {
	width: 600px;
	background-color: grey;
	margin-right: auto;
	margin-left: auto;
}

.menu ul {
	list-style: none;
	padding: 0;
}

.menu ul li {
	width: 150px;
	float: left;
	text-align: center;
}

.menu ul li a {
	color: red;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
