* {
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.all {
	font-family: Tahoma;
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.top {
	padding: 40px 0 35px 0;
	border-bottom: 1px solid black; 
	border-bottom-color: #00abff;
}

.top ul {
	margin-top: 30px;
}

.top ul li a {
	display: inline-block;
	padding: 9px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.top ul li .active {
	background-color: #00abff;
	color: white;
	border-radius: 6px;
}

.middle {
	padding: 35px 0 30px 0;
}

.middle h2 {
	background-color: #00abff;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 4px;
}

.middle .photo {
	border: 1px solid gray;
	height: 250px;
	width: 246px;
	margin: 12px 12px 12px 0;
}

.middle img {
	margin-left: auto;
	margin-right: auto;
}

.middle .last {
	margin-right: 0;
}

.middle .news-container {
	margin-top: 12px;
}

.middle .news {
	width: 500;
	display: inline-block;
}

.middle .news h3{
	font-size: 16px;
	display: inline-block;
	font-weight: bold;
}

.middle .news .date {
	margin-top: 15px;
	padding: 3px;
	font-size: 12px;
	display: inline-block;
	background-color: black;
	color: white;
}

.middle .news img {
	width: 125px;
}

.middle .news-text {
	width: 360px;
	margin-left: 15px;
}

.bottom {
	border-top: 1px solid gray;
	padding: 12px 0 30px 0;
	color: gray;
}


