.clear {
	clear: both;
}

* {
	box-sizing: border-box;
}

body {
	background-color: gray;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

.all {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	font-size: 12px;
}

.top {
	margin: 15px 0 25px 0;
}

.top .menu {
	margin-top: 20px;
}

.top .menu li {
	float: left;
	color: white;
	padding: 13px;
	font-weight: bold;
}

.top .menu li.active {
	background-color: aqua;
	color: gray;
}

.middle-bottom {
	margin-top: 20px;
	background-color: red;
}

.side-bar {
	float: left;
	padding: 30px 15px 0 20px;
	width: 275px;
	background-color: lightgray;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.side-bar .form {
	background-color: white;
	border-radius: 3px;
	padding: 12px 8px 12px 10px;
}

.side-bar input {
	border-radius: 0;
	border: 0;
	width: 150px;
	background-color: inherit;
	height: 100%;
	color: gray;
}

.side-bar button {
	border: 0;
	float: right;
	height: 100%;
}

.side-bar .item {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}

.side-bar .item ul {
	margin-top: 10px;
	font-weight: bold;
	color: green;
}

.side-bar .item li {
	margin: 5px 0 0 5px;
}

.side-bar h2 {
	font-size: 20px;
	color: black;
	font-weight: none;
}

.side-bar .side-img {
	margin-top: 35px;
}

.main {
	padding: 30px 10px 0 20px;
	float: right;
	width: 665px;
	background-color: white;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.main h2 {
	font-size: 18px;
	font-weight: bold;
}

.main p {
	line-height: 175%;
	margin-top: 20px;
}

.main img {
	margin: 15px 0 30px 0;
}

.bottom {
	margin: 30px 0 20px 0;
	font-weight: bold;
	color: white;
}
