* {
	box-sizing: border-box; /*default = content-box*/
}

h1 {
	font-size: 16px;
	font-weight: normal;
	font-family: Tahoma;
	font-style: italic;
	text-decoration: underline;
	color: blue !important;
}

h1.kirmizibaslik {
	color: red !important;
}

.yesilbaslik {
	color: green;
}

.kutu {
	width: 174px;
	height:174px;
	background-color: red;
	
	margin-top: 50px;
	margin-left: 30px;
	/*margin: top right bottom left*/
	
	padding-top: 20px;
	padding-left: 20px;
	/*padding: top right bottom left*/
	
	border-width: 5px;
	border-style: dotted;
	border-color: black;
	/*border: 3px solid black*/
	
	font-size: 14px;
	line-height: 14px;
}

.resimli {
	width: 800px;
	height: 500px;
	margin-top: 30px;
	background-color: yellow;
	background-image: url("160px-Toyota_Land_Cruiser_HZJ105_1998-2004_backleft_2008-06-04_U.jpg");
	background-repeat: no-repeat; /*repeat-x, repeat-y*/
	background-position: center center;
	background-size: contain; /*cover*/
}

.aziz {
	display: inline;
	background-color: yellow;
}

.aziz strong { /*hierarchy*/
	display: block;
	background-color: green;
}

.ebru {
	background-color: red;
}
