* {
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.kutu {
	height: 150px;
	width: 150px;
}

.kirmizi {
	background-color: red;
	float: left;
}

.sari {
	width:170px;
	background-color: yellow;
	float: right;
}

.mavi {
	width:170px;
	background-color: blue;
	float: left;
}
